<h4 style="margin-top: 15px">{{ title }}</h4>
<h5>movie's details</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" type="text" id="_id" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="yearInput">Year</label>
       <input class="u-full-width" type="text" id="year" value="{{ year }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="editionInput">Description</label>
       <input class="u-full-width" type="text" id="description" value="{{description }}" readonly/>
    </div>
    <div class="six columns">
       <label for="languageInput">Language</label>
       <input class="u-full-width" type="text" id="language" value="{{ language }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for=" authorInput">Author</label>
       <a href="/directorById/?id={{ director_id }}">
         <input class="u-full-width" type="button" id=" director" value="{{ director }}" readonly/>
       </a>
    </div>
    <div class="six columns">
       <label for="languageInput">Publisher</label>
       <a href="/actorsById/?id={{ actor_id }}">
         <input class="u-full-width" type="button" id="actor" value="{{ actors }}" readonly/>
       </a>
    </div>
  </div>
</form>
